body {
  display: grid;
  background-size: cover;
  background-image: url(../images/covid-resources.png);
}
/* Nav Bar */
#covid-resources-button {
  background-color: red;
}
/* End Of Nav Bar */

.inbox, .redbox {
  transform: skew(-20deg);
  background-color: black;
  margin: 3% auto;
  color: white;
  max-width: 25%;
  padding: 10px;
}

.redbox {
  background-color: rgb(255, 0, 0);
}

.box {

  padding: 100px;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  color: white;
}

.box-text a {
  text-decoration: none;
  color: white;
}