 body {
     background-size: cover;
     background-image: url(../images/1483394.png);
     height: 100%;
 }
 
 #game-on-button {
     background-color: red;
 }
 
 .game-container {
     display: grid;
     grid-template-columns: 2fr;
     width:500px;
     height:500px;
 }
 
     