body {
  display: grid;
  background-size: cover;
  background-image: url(../images/homepage-background.png);
}

#home-page-button {
  background-color: red;
}

.instruction {
  width: 50em;
  height: 35em;
  background-color: black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #00000066;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  top: 40em;
  right: 24%;
  color: white;
}
.save-the-world {
}
.start-button {
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #00000066;
  text-align: right;
  top: 65%;
  background-color: black;
  opacity: 0.7;
  border: red dotted;
  position: absolute;
  right: 10%;
  padding: 1%;
}
