body {
  display: grid;
  background-size: cover;
  background-image: url(../images/homepage-background.png);
}

#home-page-button {
  background-color: red;
}

.bigbox {
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(0,0,0,0.7);
  width: 1000px;
  height: 600px;
  transform: translateY(25%) translateX(20%);
}
.smallbox {
  margin: 5%;
  color: white;
}

.play-button{
  position:absolute;
  top:50%;
  right:10%;
}

.play-button a {
  text-align: center;
  text-decoration: none;
  background-color: rgb(45, 165, 235);
  display: block;
  padding:10px;
  color:white;
  border-radius: 25px;
  font-size: 40px;
  font-weight: bold;
}
