@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */

body{
  font-family: 'Raleway', sans-serif;}
nav {
  background-color: rgb(2, 2, 2, 0.5);
  display:grid;
  grid-template-columns: auto 1fr; 

}

nav #name h1{
  position:relative;
  top:50%;
  transform: translateY(-50%);
  padding-left: 40px;
}

nav ul {
  text-align: right;
}

nav ul li {
  text-align: right;
  display: inline-block;
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: white;
  transition: all 0.5s;
  padding: 1em;
}

nav ul li a:hover {
  background-color: white;
}

nav ul li a:hover {
  background-color: #cccccc;
  color: #f80000;
  transition: all 0.5s;
}

h1 {
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 2em;
}


/* End Of Navigation Bar */

/* Body */
